<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>io.github.spark198rus.awg-hs</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Application Support/AWG-HS/awg-hs</string>
		<string>daemon</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Library/Logs/awg-hs.log</string>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/awg-hs.log</string>
</dict>
</plist>
